# History files
.Rhistory

# Example code in package build process
*-Ex.R

# R data files from past sessions
.Rdata
.Rproj.user

# Extra Latex Files
*.log
*.synctex.gz

# Don't need to upload CSV files
*.csv